<h1 style="text-align: center">Listing all articles</h1>
<div align="center">
  <%
=begin%>
 <%= will_paginate %> 
<%
=end%>
</div>
 <%= render 'article',obj:@articles%>
<div align="center">
  <%
=begin%>
 <%= will_paginate %> 
<%
=end%>
</div>